// Import Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

// Sidenav
$sidenav-img-size: 64px;

// Active Tab
#tabTDollData { display: block; }

// Data Tab's
$data-min-height: 450px;
$button-padding: 0px;

// Formation Buff Grid
$formation-grid-size: 200px;
$formation-grid-padding: 5px;
$formation-grid-spacing: 2px;
$formation-grid-buff-color: #00ffde;
$formation-grid-standing-color: #ffffff;
$formation-grid-background-color: #6b696b;

// Dropdown
$dropdown-item-height-compact: 35px;

// --- Helpers ---
// Spacing
$num-spacing-helpers: 5;
