/* ------ Variables: colors,... ------ */
:root {
    --orange_gfl-color: #ffb600;
    --white_glf-color: #f7f7f7;
    --light_grey_gfl-color: #cecfd6;
    --grey_gfl-color: #424942;
}


/* --- Navbar CCS --- */
.spa { display: none; }
#tabTDollData { display: block; }


a.brand-logo {
    font-size: 1.2rem;
}

p {
    text-align: justify;
}

.user-view p {
    margin-bottom: 0;
    margin-top: 0;
}


/* --- Tab CSS --- */
.btn-small {
    border-radius: 0;
}

#tabTDollData .active, #tabFavorite .active {
    !important;background-color: var(--orange_gfl-color);
}

.btn-small:focus, .btn-small:hover, .btn-large:focus, .btn-large:hover {
    background-color: var(--orange_gfl-color);
}


.orange_gfl {
    background-color: var(--orange_gfl-color);
}
.orange_gfl-text {
    color: var(--orange_gfl-color);
}

.white_glf {
    background-color: var(--white_glf-color);
}
.white_glf-text {
    color: var(--white_glf-color);
}

.light_grey_glf {
    background-color: var(--light_grey_gfl-color);
}
.light_grey_glf-text {
    color: var(--light_grey_gfl-color);
}

.grey_gfl {
    background-color: var(--grey_gfl-color);
}
.grey_gfl-text {
    color: var(--grey_gfl-color);
}

/* ----- Override Materialize CSS ----- */
.toast {
    justify-content: center;
}

table {
     border-collapse: separate;
}
td, th {
    padding: 0;
}



/* Needs editing, copied from wiki */
.tilegridtable {
    background: rgb(62,62,62);
    padding: 10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-collapse: separate;
    border-spacing: 2px;
}
.tilegridtable td {
    background: rgba(0,0,0,0.5);
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
}
.tilegridtable td.buff {
    background: rgba(0,255,222,1);
}
.tilegridtable td.standing {
    background: rgba(255,255,255,1);
}