/* Navbar CCS */
.spa { display: none; }
#tabAPPInfo { display: block; }


a.brand-logo {
    font-size: 1.2rem;
}

p {
    text-align: justify;
}

.user-view p {
    margin-bottom: 0;
    margin-top: 0;
}

.btn-small {

}

.btn-small.active {
    !important;background-color: #ffb608;
}

.orange_gfl-text {
    color: #ffb608;
}

.grey_gfl {
    background-color: #424942;
}
